
button{
    width: 50px;
    height: 50px;
    margin: 0px;
}


ul{
    display: flex;
    flex-flow: row;
    gap: 20px;
    list-style: none;
    
    margin: 0px;
    padding: 0px;
}

li{
    display: flex;
    gap: 8px;
}

.text{
    font-family: monospace;
    font-size: 16px;
    
}

.score-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    
    flex: auto;
}

.player-choices{
    display: flex;
    flex-flow: column;
}

.game-container{
    padding: 90px;
}

.gameover-container{
    display: flex;
    justify-content: center;
}
